.footer {
  background-color: rgba(33, 33, 33, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 1.5% 5%;
  width: 100%;
}

.footer__cookies-text {
  margin-right: 5px;
}

.footer__privacy-text {
  margin-left: 5px;
}

.footer__copyright-text,
.footer__cookies-text,
.footer__privacy-text {
  text-transform: uppercase;
}

.footer__designby-text--author {
  font-weight: 700;
}

.footer__cookies-text,
.footer__privacy-text {
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #C84D7E;
  }
}

@media (max-width: 850px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }

  .footer__copyright,
  .footer__cookies,
  .footer__designby {
    margin: 2px 0;
    text-align: center;
  }
}