.popup {
  color: #2E3032;
  background-color: #fff;
  display: none;
  height: 400px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.popup-header {
  color: inherit;
  margin: 50px 0;
  text-align: center;
}

.popup__button {
  background-color: #8D505C;
  border: 0;
  border-radius: 25px;
  font-size: $global-font-size;
  font-weight: bold;
  padding: 18px 0;
  text-transform: uppercase;
}

// Following styles from https://codepen.io/sevilayha/pen/IdGKH
.group {
  margin-bottom: 45px;
  position: relative;
}

input {
  border: none;
  border-bottom: 1px solid #757575;
  color: #2F3033;
  display: block;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 100%;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
  transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  color: #8D505C;
  font-size: 14px;
  top: -20px;
}

/* BOTTOM BARS ================================= */
.bar {
  display: block;
  position: relative;
  width: 100%;
}

.bar:before,
.bar:after {
  content:'';
  background: #8D505C;
  bottom: 1px;
  height: 2px;
  position: absolute;
  transition: 0.2s ease all;
  width: 0;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  height: 60%;
  left: 0;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  top: 25%;
  width: 100%;
}

/* active state */
input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from {
    background: #8D505C;
  }
  to {
    background: transparent;
    width:0;
  }
}

@-moz-keyframes inputHighlighter {
	from {
    background: #8D505C;
  }
  to {
    background:transparent;
    width:0;
  }
}

@keyframes inputHighlighter {
	from {
    background: #8D505C;
  }
  to {
    background: transparent;
    width: 0;
  }
}

@media (max-width: 450px) {
  .popup {
    width: 300px;
  }
}