.title-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.header-title {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
}
.title-section__button-container {
  display: flex;
  justify-content: center;
  // left: 50%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
}

.title-section__button {
  background: 0;
  border-radius: 25px;
  border: 2px solid #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 15px 0;
  text-transform: uppercase;
  width: 250px;
}