.title-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header-title {
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  width: 100%;
}

.title-section__image {
  display: block;
  height: 100%;
  width: 50%;
}

.title-section__button-container {
  display: flex;
  justify-content: center;
  // left: 50%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
}

.title-section__button {
  background: 0;
  border-radius: 25px;
  border: 2px solid #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 15px 0;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 250px;

  &:hover {
    border: 3px solid #fff;
    font-weight: bold;
    transform: scale(1.05);
  }
}

@media (max-width: 1200px) {
  .title-section__image {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .title-section__image {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .title-section__image {
    width: 85%;
  }
}